<h1>Stocks</h1>

<%= link_to 'Magic Formula', magic_formula_stocks_path %>

<%= link_to "Add new Stock", new_stock_path %>

<table>
  <thead>
    <tr>
      <th>Ticker</th>
      <th>Cotação</th>
      <th>P/L</th>
      <th>ROE</th>
      <th>P/VP</th>
      <th>Div. Yield</th>
    </tr>
  </thead>

  <tbody>
    <% @stocks.each do |s| %>
      <tr>
        <td><%= link_to s.ticker, stock_path(s) %></td>
        <td><%= s.price %></td>
        <td><%= s.pl %></td>
        <td><%= s.roe %></td>
        <td><%= s.p_vp %></td>
        <td><%= s.div_yield %></td>
      </tr>
    <% end %>
  </tbody>
</table>
