<h1>Add a Stock</h1>

<%= form_with model: @stock do |f| %>
  <div>
    <%= f.label :ticker %>
    <%= f.text_field :ticker %>
  </div>

  <%= f.submit "Fetch & Save" %>
<% end %>

<%= link_to "Back", stocks_path %>

